{% extends 'base.html'%} {% block title%} This is About Page {% endblock%} {% block content%}
<div style="justify-content: center;margin:0 100px">
    <h2>This is About Section of Blog Page.</h2>
<h6>My name is priyanshu kumar, student of vit vellore, persuing electrical and electronics engineering<br> from vellore campus.
    I have flexibility in making both frontend and backend development of websites.
</h6>
<h3>I have made this Django website to train myself in django fundamental concept.</h3>
<h4>The task named content management tool is provided by bharat intern organization </h4>
<h5>To run a successful website, you need good content, but there’s more to it than just jotting down some pretty words.
You also need a quality content management tool to organize, optimize, and display all that shiny content that
you’ve spent hours perfecting.</h5>
</div>
{% endblock content%}